* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.caixa-principal {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

h2 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #555;
}

.caixa-alternativas {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.caixa-alternativas button {
    padding: 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.caixa-alternativas button:hover {
    background-color: #0056b3;
}

.caixa-resultado {
    margin-top: 20px;
}

#resultado {
    font-size: 16px;
    color: #28a745;
}
